@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Mada:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
 --darkBlue: #03045E;
 --lightBlue : #CAF0F8 ;
 --darkText : #313144 ; 
 --borderColor : #B8BBC2 ; 
 --smallText : #344054 ; 
 --blueColor : #0077B6 ; 
 --lightTextGray : #667085 ; 
 --darkGreen : #037847 ; 
}